# Dependencies
/node_modules
/venv
.venv
/build
/dist

# Python
__pycache__
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache
pip-log.txt

# React / TypeScript
# TypeScript cache file
.tsbuildinfo

# Production build output
/build
/dist
/coverage

# Logs and environment variables
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.development.local
.env.test.local
.env.production.local
.env.staging.local

# OS and Editor files
.DS_Store
.vscode/
.idea/
